*{
    box-sizing: border-box;
}

body{
    background-color: #DBD6CB;
    color:#171717;
    font-family: monospace;
    margin:auto;
}

#center-container {
    max-width: 1000px;
    width: 90vw;
    margin: 0 auto;
}

nav{
    width: 100vw;
    height:5vh;
    display:flex;

}

header{
    width: 100vw;
    min-height: 80vh;
    background-image: url("../css/images/IMG_1671.JPG");
    background-size: cover;
    background-position: 50% 70%;
    text-align: center;
}

nav a{
    color:black;
    margin: auto;
    margin-top: 3vh;
    text-decoration: none;
}

nav a:hover{
    color:#CF1F30;
    border-bottom: 3px solid #CF1F30;

}

h1{
    color: aliceblue;
    font-size: 3rem;
    padding-top: 30vh;
}

h2{
    color:aliceblue;
    font-size: 2rem;
}

button{
    height: 5vh;
    width: 5vw;
    background-color: #DBD6CB;
    color:#171717;
    border-radius: 10px;
    font-family: monospace;
}

.button2{

}

button a{
    text-decoration: none;
}




@media (width <= 480px) {
html{
    font-size: 12px;
}

nav{
    height: 10vh;
    flex-direction: column;
}
}
